extends layout 

block content 
    a(href='/inventory' class='return-btn') Back Home
    h1= title 
    ul(id='category-list')
        each category in category_list 
            li(class='category-list-item')
                a(class='category-list-btn' href=category.url) #{category.name}
        else 
            li There are no categories.