extends layout
block content
    a(href='/inventory/products' class='return-btn') Back to Products
    h1= title 
    ul(class='product-instances')
        each instance in product_instances
            li(class='product-instance-item')
                a(class='product-instance-btn' href=(instance.url)) #{product.name}
                div Size: #{instance.size}
        else 
            li Out of stock.

        p
            a(href=(product.url+'/delete')) Delete Product 
        p 
            a(href=(product.url+'/update')) Update Product